include ../list/list
include ../slider/slider

.picture-wrapper
  .picture-items
    +list()
  .picture-items
    .picture-filter
      include ../modules/modules
      //include ../size/size
  .picture-slider
    +slider()
