.wrapper
  display: table
  height: 100%
  width: 100%

.items
  display: table-row
  height: 1px

.slider
  display: table-row

.filter
  //border: 1px solid #D9D9D9
  background: #DBF3ED
  padding: 4px
  margin: 0 0 8px
  list-style: none
  border-radius: 4px
