div(style='display:none')
  img(data-src='masks/mask-1.svg')
  img(data-src='masks/mask-2.svg')
  img(data-src='masks/mask-3.svg')
  img(data-src='masks/mask-4.svg')
  img(data-src='masks/mask-5.svg')
  img(data-src='masks/mask-6.svg')
  img(data-src='masks/mod-ver-2m-1.svg')
