.callback-wrapper
  .callback-close
  .callback-input: input.form-input(placeholder='Имя')
  .callback-input: input.form-input(placeholder='Телефон')
  p Мы перезвоним в течении 10 минут!
  .callback-submit: input.form-submit(type='submit' value='Жду звонка')