mixin slider()
  .slider-wrapper
    .slider-container
      .slider-baron.baron.baron__root.baron__clipper._simple
        .baron__scroller
          .slider-content
        .baron__track
          .baron__free
            .baron__bar
