//@import "baron/skins/styles.css"

.wrapper
  height: 100%
  display: table-cell
  position: relative

.container
  border-radius: 4px
  background: #3C4048
  //border: 1px solid #D9D9D9
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 7px 0

.content
  display: block
  padding: 4px

.item
  height: 110px
  line-height: 110px
  font-size: 0
  background: #EBE3D0
  //border: 1px solid #fff
  border-radius: 10px
  margin-bottom: 4px
  cursor: pointer
  text-align: center
  anim()

  &:hover
    background: #717171

  *
    vertical-align: middle

  img
    max-height: 94px
    max-width: 126px

.active
    background: #2D4348

.baron
  height: 100%
  background: #81B68E

.upload
  background: #BCBCBC
  position: relative
  overflow: hidden
  input
    position: absolute
    right: 0
    top: 0
    width: 300%
    height: 300%
    opacity: 0
    cursor: pointer

  &:after
    content: ''
    display: inline-block
    vertical-align: middle
    background: url(modules/slider/sprite-upload.svg)
