.wrapper
  height: 100%
  width: 100%
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.header
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 10

.footer
  position: absolute
  bottom: 0
  left: 0
  z-index: 10
  width: 100%

.sidebar
  width: $sidebar-width
  top: $header-height
  bottom: $footer-height
  padding: $block-spacing
  position: absolute

.left
  left: 0

.right
  right: 0

.content
  //overflow: hidden
  position: absolute
  top: $header-height
  bottom: $footer-height
  left: $sidebar-width
  right: $sidebar-width
  padding: $block-spacing 0
