.wrapper
  position: absolute
  left: 20px
  top: 20px

.button
  background: url(modules/help/sprite-help.svg)
  line-height: 30px
  text-align: center
  color: #ffffff
  cursor: pointer
  font-size: 0
  display: none

  &:after
    content: ''
    display: inline-block
    vertical-align: middle
    background: url(modules/remove/sprite-trash.svg)