.wrapper
  position: relative
  //right: 20px
  //top: 20px

.button
  //background: url(modules/help/sprite-help.svg)
  line-height: 30px
  text-align: center
  border: 1px solid #000
  padding: 0 10px
  border-radius: 15px
  //color: #ffffff
  cursor: pointer

.popup
  display: none
  text-align: left
  position: absolute
  padding: 1.5em
  top: 100%
  right: 0
  margin-top: 25px
  background: rgba(#000, .55)
  color: #ffffff
  width: 450px
  z-index: 1

  &:after
    content: ''
    position: absolute
    bottom: 100%
    right: 45px
    border-bottom: 22px solid rgba(#000, .55)
    border-left: 7px solid transparent
    border-right: 7px solid transparent

  p
    margin: 0 0 .5em