.help-wrapper
  .help-button Справка
  .help-popup
    p 1. Справа - выбор различных интерьеров.
    p 2. Слева - выбор из галереи (для примера) или загрузка Вашего изображения.
    p Далее можно изменить размер картины и отсортировать ее форму.
    p Фотопанно и фотоколлаж состоят из нескольких различных изображений (фотографий).
    p Для более детального выбора и/или обработки фотографий можно воспользоваться помощью "он-лайн дизайнера".
    p Мы постоянно работаем над улучшением качества своего сервиса, поэтому открыты к любым предложениям!