@import "baron/baron.css"

.wrapper
  position: relative

:global
  .baron
    //&__clipper
    //  overflow: visible !important
    &__track
      right: -3px
    &__bar
      width: 3px
      background: #3C4048
      border-radius: 3px
      cursor: pointer
