.wrapper
  display: none

.svg
  width: auto
  height: auto
  max-width: 100%
  max-height: 100%
  padding: 10px
  display: inline-block
  vertical-align: middle

.image
  display: block

.path
  display: block