.canvas-wrapper
  .canvas-bg.canvas-bg1
  .canvas-bg.canvas-bg2
  include ../remove/remove
  include ../form/form
  //.canvas-picture
  //  .canvas-plain_wrapper
  //    img.canvas-plain
  //  .canvas-svg