doctype html
//doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html
  head
    title Hello
    meta(name="description" content="КУКУ")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300&amp;subset=cyrillic" rel="stylesheet")
    //link(rel="shortcut icon" href="/favicon.ico")

    :styles

  body
    block body
    //include ../photoswipe/photoswipe


    :scripts
    :hotreload