.wrapper
  padding: 0 8px
  height: 50px
  line-height: 1
  width: 100%
  background: #FFFDD9
  border-bottom: 1px solid #999999
  text-align: right

  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle

.image-wrapper
  float: left

.logo
  float: left
  margin-top: 7px
  text-align: center

.image-wrapper,
.logo,
.menu,
.contacts
  vertical-align: middle
  display: inline-block

//.image-wrapper
//  width: 51px
//.contacts
//  width: 200px
//.logo


.image
  margin-right: 1em
  
.title
  font-size: 24px

.subtitle
  font-size: 12px

.menu
  text-align: right

  ul
    margin: 0
    padding: 0

  li
    display: inline-block
    vertical-align: middle
    margin: 0 2%

  a
    display: block
    font-size: 18px
    color: #000000
    text-decoration: none
    padding-bottom: 3px
    border-bottom: 2px solid transparent
    anim()

    &:hover
      border-bottom: 2px solid #000


.contacts
  text-align: right
  position: relative
  margin-left: 30px
  //padding-right: 30px
  //width: 220px

  //&:before
  //  content: ''
  //  position: absolute
  //  right: 0
  //  top: 14px
  //  background: url(modules/header/sprite-phone.svg)

.phone
  font-size: 18px
  margin-bottom: 3px

.work
  font-size: 12px
  letter-spacing: 1px
  color: #666666
  margin-top: 3px