.header-wrapper
  //.header-image-wrapper
  //  img.header-image(src='modules/header/logo.png' width=58 height=58)
  .header-logo
    .header-title СОЦВЕТИЕ
    .header-subtitle интерьерные решения
  .header-contacts
    .header-phone +7 (812) 602 13 82
    //.header-work с 10:00 до 20:00 часов
    .header-callback Перезвоните мне!
  .header-menu
    ul
      li: a(href='#') Поддержка
      li: a(href='#') Ценные советы
      li: a(href='#') Оплата
      li: a(href='#') Доставка
      li: a(href='#') Гарантия
      li: a(href='#') Опт
      li: a(href='#') Справка
  //include ../help/help
