.header-wrapper
  .header-image-wrapper: img.header-image(src='modules/header/logo.png' width=51 height=51)
  .header-logo
    .header-title СОЦВЕТИЕ
    .header-subtitle интерьерные решения
  .header-menu
    ul
      li: a(href='#') О НАС
      li: a(href='#') КОНСТРУКТОР
      li: a(href='#') АКЦИИ
      li: a(href='#') КОНТАКТЫ
  .header-contacts
    .header-phone +7 (812) 602 13 82
    .header-work с 10:00 до 20:00 часов