.footer-wrapper
  .footer-share
    .footer-text Поделиться:
    .footer-icon.footer-vk
    .footer-icon.footer-fb
    //.footer-icon.footer-ins
    .footer-icon.footer-tw
    .footer-icon.footer-ok
  .form-button Рассчитать