include ../baron/baron

.page-wrapper
  +baron()(class='page-baron')
    .page-content
      .page-text
        p и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без дополнительной защиты. Но с другой стороны, они уже не такие экологически безопасные, как  чернила  первой группы. Красящим веществом в этих чернилах выступает пигмент.
        p Для изготовления модульных интерьерных картин используются пигментные чернила.
        p 4.  Подрамник
        p Подрамник, это остов в виде рамы, на который натягивается полотно для работы над картиной. Подрамники могут быть выполнены из дерева, ДСП, металла или пластика. Деревянные подрамники более надежны и экологичны, не вступают во взаимодействие с холстом. Используются при изготовлении картин наиболее часто.
        p 5.  Натяжка
        p Существует несколько основных вари антов натяжек: музейная, при которой далее Вы помещаете картину в багет, и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к задней его части. Наиболее характерной сегодня для модульных картин является именно галерейная натяжка.
        //p 6.  Крепление
        //p В комплекте с модульной картиной могут идти крепления и трафареты, а также подробная инструкция по инсталляции картины на стену.
        //p Остались вопросы? Наш технолог всегда готов на них ответить!
        //p и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без дополнительной защиты. Но с другой стороны, они уже не такие экологически безопасные, как  чернила  первой группы. Красящим веществом в этих чернилах выступает пигмент.
        //p Для изготовления модульных интерьерных картин используются пигментные чернила.
        //p 4.  Подрамник
        //p Подрамник, это остов в виде рамы, на который натягивается полотно для работы над картиной. Подрамники могут быть выполнены из дерева, ДСП, металла или пластика. Деревянные подрамники более надежны и экологичны, не вступают во взаимодействие с холстом. Используются при изготовлении картин наиболее часто.
        //p 5.  Натяжка
        //p Существует несколько основных вари антов натяжек: музейная, при которой далее Вы помещаете картину в багет, и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к задней его части. Наиболее характерной сегодня для модульных картин является именно галерейная натяжка.
        //p 6.  Крепление
        //p В комплекте с модульной картиной могут идти крепления и трафареты, а также подробная инструкция по инсталляции картины на стену.
        //p Остались вопросы? Наш технолог всегда готов на них ответить!
        //p и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к улице без дополнительной защиты. Но с другой стороны, они уже не такие экологически безопасные, как  чернила  первой группы. Красящим веществом в этих чернилах выступает пигмент.
        //p Для изготовления модульных интерьерных картин используются пигментные чернила.
        //p 4.  Подрамник
        //p Подрамник, это остов в виде рамы, на который натягивается полотно для работы над картиной. Подрамники могут быть выполнены из дерева, ДСП, металла или пластика. Деревянные подрамники более надежны и экологичны, не вступают во взаимодействие с холстом. Используются при изготовлении картин наиболее часто.
        //p 5.  Натяжка
        //p Существует несколько основных вари антов натяжек: музейная, при которой далее Вы помещаете картину в багет, и галерейная натяжка, при которой изображение заходит на боковые стороны подрамника, а холст крепиться к задней его части. Наиболее характерной сегодня для модульных картин является именно галерейная натяжка.
        //p 6.  Крепление
        //p В комплекте с модульной картиной могут идти крепления и трафареты, а также подробная инструкция по инсталляции картины на стену.
        //p Остались вопросы? Наш технолог всегда готов на них ответить!
      .page-form
        .form-row
            p Остались вопросы? Наш технолог всегда готов на них ответить!
            .form-input-group
              .form-input-wrapper: input.form-input(placeholder='Имя')
              .form-input-wrapper: input.form-input(placeholder='Телефон')
              .form-input-wrapper: input.form-input(placeholder='Почта')
            .form-input-wrapper-textarea: textarea.form-input.form-textarea(placeholder='Сообщение')
        .form-row
          .form-col_3_4
          .form-col_1_4
            input.form-submit(type='submit' value='Отправить')
      .page-close