.wrapper
  text-align: center
  margin: 4px 0

.item
  display: inline-block
  vertical-align: middle
  background: #BFE2D7
  border: 1px solid #333333
  border-radius: 4px
  cursor: pointer
  margin: 0 5px

  &_active,
  &:hover
    border-width: 2px

.square
  width: 15px
  height: 15px

.vertical
  width: 15px
  height: 25px

.horizontal
  width: 25px
  height: 15px